<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        .header {
            width: 90vw;
            margin: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header div {
            display: inline-flex; 
            align-items: center;
        }
        a {
            margin: 5px;
        }
        .content-container {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            gap: 25px;
        }
        .card2 {
            padding: 20px;
            width: 20vw;
            height: 3vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
            background-color: lightblue;
            margin: auto;
        }
        .card2 div {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }

        .card {
            padding:50px;
            width: 40vw;
            height: 35vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
            background-color: lightblue;
            margin: auto;
        }
        .card div {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
        .card img {
            margin: 0 auto;
            width: 200px;
            height: 160px;
            object-fit: contain;
        }
        .card h2 {
            color: grey;
            text-align: center;
        }
        .btn {
            margin: 0 20px;
            padding: 5px 0;
            width: 80px;
            text-align: center;
            text-decoration: none;
            border-radius: 4px;
            background-color: #fba608;
            color: #000000;
        }
        .btn-delete {
            color: white;
            background-color: rgb(243, 56, 56);
        }

        ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         background-color:lightblue;
       }

       li {
         float: left;
       }

       li a {
         display: block;
         color: black;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         font-size: large;
       }
    </style>
</head>
<body style="background-color: lightsteelblue;">
    
    <ul>
        <li><a href="./">Home</a></li>
        <li><a href="/course/add">Add Course</a></li>
    </ul>    
</br></br>
        
<div class="card2">
    <form action="/course" method="get">
        <input type="text" placeholder="Search" name="search" />
        <input type="submit" value="submit" />
    </form>
</div>


</br></br>
    <% data.forEach(e => { %>
        <div class="card">
            <h2><%=e.name%></h2>
            <div>
                <h3><%=e.descriptiont%></h3>
            </div>
           
        </br></br>
        <div>
                <h3>Duration : <%=e.duration%> week</h3>
            </div>
            
            <div> 
            <h3>Category : <%=e.Category.name%></h3>
        </div>
    </br>
            <a class="btn btn-delete" href="/course/<%= e.id %>/">Detail</a>
        </br>
            <a href="/course/<%= e.id %>/delete">Delete</a>
        </div>
    </br></br></br></br>
    <% }) %>
</body>
</html>